/* .hidden-scroll-left */

.show-scroll-left {
  animation: scrollLeft 1s ease 0s 1 normal forwards;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-30%);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

/* .hidden-scroll-rigth */

.show-scroll-right {
  animation: scrollRight 1s ease 0s 1 normal forwards;
}

@keyframes scrollRight {
  0% {
    transform: translateX(30%);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}


.hidden-scroll-bottom {
  transform: translateY(30%);
  filter: blur(10px);
  transition: all 1s ease;
}

.show-scroll-bottom {
  animation: scrollBottom 1s ease 0s 1 normal forwards;
}


@keyframes scrollBottom {
  0% {
    transform: translateY(30%);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

/* Efeitos para cada projeto */

.hidden-scroll-p1,
.hidden-scroll-p2,
.hidden-scroll-p3,
.hidden-scroll-p4,
.hidden-scroll-p5,
.hidden-scroll-p6 {
  transform: translateY(30%);
  filter: blur(5px);
}

.show-scroll-p1,
.show-scroll-p2,
.show-scroll-p3,
.show-scroll-p4,
.show-scroll-p5,
.show-scroll-p6 {
  transform: translateY(0);
  filter: blur(0);
}

.hidden-scroll-p1 {
  transition: all .5s ease;
}

.hidden-scroll-p2 {
  transition: all 1s ease;
}

.hidden-scroll-p3 {
  transition: all 1.5s ease;
}

.hidden-scroll-p4 {
  transition: all .5s ease;
}

.hidden-scroll-p5 {
  transition: all 1s ease;
}

.hidden-scroll-p6 {
  transition: all 1.5s ease;
}

.hidden-scroll-bottom-image {
  left: 90px;
}