@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

:root {
  --color-primary: #0f0f0f;
  --color-secundary: #0b0b0b;
  --color-terciary: #00ffff;
  --color-texts: #9ca3af;

  --font-primary: "Saira", sans-serif;
  --font-secundary: "Monoton", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
}

.groupHeader {
  min-height: 100vh;
}

/* Estilos Nav */

.logoNav {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.letraMonoton {
  font-family: var(--font-secundary);
  color: rgb(0, 255, 242);
}

.groupNav {
  position: fixed;
  width: 100%;
  background-color: #080808ed;
  box-shadow: 0px 0px 8px rgb(49, 49, 49);
  z-index: 1;
}

.nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

.listNav {
  display: flex;
  list-style: none;
  column-gap: 2rem;
  align-items: center;
  position: relative;
}

.icon-theme {
  color: var(--color-terciary);
  border-radius: 50%;
}

.icon-them-1:hover,
.icon-idioma:hover {
  transform: scale(120%);
  filter: drop-shadow(0px 0px 80px rgba(0, 255, 242, 0.603));
}

.listNav > li > a {
  text-decoration: none;
  padding: 2px;
  color: white;
  font-size: 1.1em;
}

.icon-idioma {
  width: 1.26em;
}

.itemsMenu-header {
  position: relative;
}

.itemsMenu-header:hover {
  color: var(--color-terciary);
}

.itemsMenu-header:hover::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-image: linear-gradient(to left, white, var(--color-terciary), var(--color-primary));
  bottom: 0;
  left: 0;
  border-radius: 10px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation: beforeMenu 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes beforeMenu {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.select-menu-humburguer {
  width: 33px;
  height: 22px;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.linha-menu-humburguer {
  background-color: white;
  height: 100%;
  border-radius: 5px;
}

/* Estilos Header */

.header {
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  max-width: 1024px;
}

.groupHeader-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  row-gap: 1em;
}

.groupHeader-texts h1 {
  font-size: 3.78em;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -3px;
  font-family: var(--font-primary);
  color: white;
  width: 8em;
}

.title-secundary-header {
  position: relative;
  font-size: 2em;
  height: 50px;
  font-family: var(--font-primary);
  text-shadow: 0px 0px 15px var(--color-terciary);
  font-weight: 400;
}

.title-secundary-header::before {
  content: "";
  color: rgb(20, 201, 192);
  animation-name: palavrasAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title-secundary-header::after {
  position: absolute;
  content: "";
  height: 65%;
  margin-left: 10px;
  margin-top: 9px;
  border-left: 2px solid rgb(20, 201, 192);
  box-shadow: 0px 0px 10px var(--color-terciary);
  opacity: 1;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
}

@keyframes palavrasAnimation {
  0% {
    content: "";
  }
  5% {
    content: "F";
  }
  10% {
    content: "Fu";
  }
  15% {
    content: "Ful";
  }
  20% {
    content: "Full";
  }
  25% {
    content: "Full-";
  }
  30% {
    content: "Full-S";
  }
  35% {
    content: "Full-St";
  }
  40% {
    content: "Full-Sta";
  }
  45% {
    content: "Full-Stac";
  }
  50% {
    content: "Full-Stack";
  }
  55% {
    content: "Full-Stack ";
  }
  60% {
    content: "Full-Stack D";
  }
  65% {
    content: "Full-Stack De";
  }
  70% {
    content: "Full-Stack Dev";
  }
  75% {
    content: "Full-Stack Deve";
  }
  80% {
    content: "Full-Stack Devel";
  }
  85% {
    content: "Full-Stack Develo";
  }
  90% {
    content: "Full-Stack Develop";
  }
  95% {
    content: "Full-Stack Develope";
  }
  100% {
    content: "Full-Stack Developer";
  }
}

.text2Header {
  font-size: 1em;
  font-family: var(--font-primary);
}

.btnHeader {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ccc;
  width: 11em;
}

.groupHeader-socialMedia {
  width: 10em;
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}

.geoupHeader-socialMediaButton {
  text-decoration: none;
  padding: 0.2em 0.5em;
  font-size: 1.3em;
  border-radius: 5px;
  background-color: #1d1d1d;
  color: white;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.geoupHeader-socialMediaButton:hover {
  color: var(--color-terciary);
  transform: scale(120%);
  box-shadow: 0px 0px 10px var(--color-terciary);
}

.groupHeader-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupHeader-img img {
  width: 75%;
  filter: drop-shadow(0px 0px 80px rgba(0, 255, 242, 0.603));
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

@keyframes flutuacaoImagem {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Estilos Sobre */

.groupSobre {
  background-color: var(--color-secundary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  
}

.sobre {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 34em;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  column-gap: 1em;
}

.groupSobre-primary {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
}

.titleSobre {
  color: white;
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
}

.logoNav {
  font-weight: 500;
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.groupSobre-primary p {
  color: var(--color-texts);
  font-size: 1.28em;
  line-height: 30px;
  width: 100%;
  font-weight: 200;
}

.groupSobre-secundary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.minha-img {
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
  width: 70%;
  filter: drop-shadow(0px 0px 80px rgba(0, 119, 113, 0.603));
  animation: chicaracRotate 30s ease 0s infinite normal;
}

@keyframes chicaracRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.circle {
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-color: rgb(73, 199, 172);
  filter: blur(40px);
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

.dividir-titulo-linha {
  display: flex;
  column-gap: 2px;
}

.linha {
  width: 4px;
  height: 100%;
  background-image: linear-gradient(to top, var(--color-secundary) 20%, var(--color-terciary));
}

/* Estilos do Skills */


.groupSkills {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 4em;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 27em;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
  column-gap: 2em;
}


.groupSkills-primary {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.titleSkills {
  color: white;
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
}

.linha-secundary {
  width: 4px;
  height: 100%;
  background-image: linear-gradient(to top, var(--color-primary) 20%, var(--color-terciary));
}

.groupSkills-secundary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.3em;
  column-gap: 1.3em;
}

.skill-element {
  background-color: #141414;
  border-radius: 4px;
  border: 1px solid #242323;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .5s ease-in-out;
}

.skill-element:hover {
  border: 1px solid var(--color-terciary);
}

.skill-element img {
  width: 40%;
}

.textSkills {
  color: var(--color-texts);
  font-size: 1.28em;
  line-height: 30px;
  width: 100%;
  font-weight: 200;
}

strong {
  color: white;
  font-weight: 500;
}


/* Estilos dos Projetos */

.groupProjetos {
  background-color: var(--color-secundary);
  min-height: 100vh;
  padding: 2em 0 2em 0;
  display: flex;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9em 1fr;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
}

.groupProjetos-primary {
  display: flex;
  align-items: center;
}

.groupProjetos-primary .titleProjetos {
  color: white;
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
}

.select-texts {
  display: flex;
}

.select-linhas-projeto-title {
  display: flex;
  column-gap: 2px;
}

.linhas {
  width: 4px;
  background-image: linear-gradient(to top, var(--color-secundary) 20%, var(--color-terciary));
  height: 65px;
}

.groupProjetos-secundary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1d1d1d;
  padding: 1em;
  text-align: center;
  border: 1px solid #2e2e2e;
  row-gap: 5px;
  border-radius: 5px;
}

.group-image-project {
  border-radius: 5px;
  overflow: hidden;
  height: 14em;
  height: 200px;
}

.image-project {
  width: 90%;
}


.title-project {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 10px;
}

.description-project {
  color: #5b5b5b;
  font-size: 1.1em;
  font-weight: 400;
}

.btn-project {
  background-color: #1d1d1d;
  border: 2px solid #2e2e2e;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 25px;
  font-weight: 600;
  gap: .5em;
  border-radius: 5px;
  transition: .5s ease;
  cursor: pointer;
}

.btn-project:hover {
  background-color: #2e2e2e;
  font-weight: 800;
}

.group-image-project {
  overflow: hidden;
  height: 200px;
  width: 100%;
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center center;
}

.group-image-project:hover {
  background-size: 130%;
}

.groupProjetos-secundary :nth-child(1) .group-image-project  {
  background-image: url('../img/projeto-jessica-planilhas.png');
}

.groupProjetos-secundary :nth-child(2) .group-image-project  {
  background-image: url('../img/projeto-api-filmes.png');
}

.groupProjetos-secundary :nth-child(3) .group-image-project  {
  background-image: url('../img/projeto-login-form.png');
}

.groupProjetos-secundary :nth-child(4) .group-image-project  {
  background-image: url('../img/projeto-calculadora.png');
}

.groupProjetos-secundary :nth-child(5) .group-image-project  {
  background-image: url('../img/projeto-calculadora-de-imc.png');
}

.groupProjetos-secundary :nth-child(6) .group-image-project  {
  background-image: url('../img/projeto-previsao-do-tempo.png');
}


/* Estilos do Serviço */

.groupService {
  background-color: var(--color-primary);
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
}

.service {
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
}

.groupService-primary {
  display: flex;
  align-items: center;
  gap: 2px;
}

.groupService-secundary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  padding: 2.5em 0;
}

.card-service {
  text-align: center;
  height: 24em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border-radius: 5px;
  border: 1px solid #1e1d1d;
  padding: 2em;
  transition: border 1s ease;
}

.card-service:hover {
  border: 1px solid var(--color-terciary);
}

.circle-externo-servico {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #00ffff, #155558, #00ffff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-interno-servico {
  width: 10em;
  height: 10em;
  background-color: #0f0f0f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-interno-servico img{
  width: 50%;
}

.titleService {
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
  color: white;
}

.title-card-service {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
}

.description-card-service {
  color: var(--color-texts);
}
 
.description-card-service {
  font-size: 0.9em;
}

/* Estilos do Contato */

.groupContact {
  background-color: var(--color-secundary);
  min-height: 100vh;
  display: flex;
}


.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 1fr;
  width: 90%;
  margin: auto;
  max-width: 1024px;
  padding: 5em 0;
}

.contato .groupContact-primary {
  grid-column: 1 / -1;
  display: flex;
  gap: 2px;
}

.groupContact-secundary {
  padding-top: 3em;
}

.titleContact {
  color: white;
  font-size: 2.5em;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form input {
  border: 1px solid var(--color-terciary);
  padding: .7em 5px;
  background-color: #161616;
  border-radius: 5px;
  font-family: var(--font-primary);
  transition: padding-left .2s ease 0s;
  color: white;
}

.form input:focus {
  padding-left: 1em;
  outline: none;
  box-shadow: 0px 0px 8px var(--color-terciary);
}

textarea {
  height: 10em;
  border: 1px solid var(--color-terciary);
  padding: .7em 5px;
  background-color: #161616;
  border-radius: 5px;
  font-family: var(--font-primary);
  color: white;
  outline: none;
}

textarea:focus {
  box-shadow: 0px 0px 8px var(--color-terciary); 
}

.groupContact-terciary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-2 {
  position: absolute;
  width: 15em;
  height: 25em;
  background-color: rgba(73, 199, 172, 0.764);
  filter: blur(40px);
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
}

.groupContact-terciary img {
  width: 65%;
  clip-path: polygon(0 0, 80% 0%, 100% 20%, 81% 81%, 100% 100%, 20% 100%, 0% 80%, 18% 23%);
  filter: drop-shadow(0px 0px 200px rgba(0, 255, 242, 0.603));
  animation: flutuacaoImagem 2s ease-in-out 0s infinite alternate-reverse;
  z-index: 0;
}

/* Estilos Footer */

.footer {
  padding: 1em;
  background-color: #080808cb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgb(49, 49, 49);
}