body {
  background-color: #f7f7f7;
  /* Dark */
  background-color: #0f0f0f;
  background-color: #1e1e1e;
}

.logoNav {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
  box-shadow: none;
}

.groupNav {
  background-color: #ffffffed;
  /* Dark */
  background-color: #080808ed;
}

.listNav > li > a {
  color: rgb(49, 49, 49);
  /* Dark */
  color: rgb(255, 255, 255);
}

.linha-menu-humburguer {
  background-color: rgb(49, 49, 49);
  /* dark */
  background-color: white;
}

.groupHeader-texts h1 {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.geoupHeader-socialMediaButton {
background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.575);
  color: rgb(49, 49, 49);

  /* Dark */
  background-color: #1d1d1d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
  color: white;
}

.groupNav {
  position: fixed;
  width: 100%;
  background-color: #080808ed;
  box-shadow: 0px 0px 8px rgba(49, 49, 49, 0.438);
  z-index: 1;
}

.geoupHeader-socialMediaButton:hover {
  /* Dark */
  color: var(--color-terciary);
  box-shadow: 0px 0px 10px #00ffff;
}

.titleSobre {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.logoNav {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.groupSobre {
  background-color: #ffffff;
  /* Dark */
  background-color: #0b0b0b;
}

.groupSobre-primary p {
  color: #1d1d1d;
  /* Dark */
  color: #9ca3af;
}

.titleSkills {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.skill-element {
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  /* Dark */
  background-color: #141414;
  border: 1px solid #242323;
}

.skill-element:hover {
  border: 1px solid #00ffff;
}

.textSkills {
  color: #1d1d1d;
  /* Dark */
  color: #9ca3af;
}

strong {
  color: rgb(59, 59, 59);
  /* Dark */
  color: rgb(212, 212, 212);
}

.groupProjetos {
  background-color: #ffffff;
  /* Dark */
  background-color: #0b0b0b;
}

.groupProjetos-primary .titleProjetos {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.card-item {
  background-color: #f3f3f3;
  border: 1px solid #e2e2e2;
  /* Dark */
  background-color: #1d1d1d;
  border: 1px solid #2e2e2e;
}

.title-project {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.description-project {
  color: #5b5b5b;
  /* Dark */
  color: #5b5b5b;
}

.btn-project {
  background-color: #ffffff;
  border: 2px solid #e9e9e9;
  color: rgb(49, 49, 49);
  /* Dark */
  background-color: #1d1d1d;
  border: 2px solid #2e2e2e;
  color: #ffffff;
}

.btn-project:hover {
  background-color: #747474;
  color: white;
  /* Dark */
  background-color: #2e2e2e;
}

.groupService {
  background-color: #f7f7f7;
  /* Dark */
  background-color: #0f0f0f;
}

.card-service {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  transition: border 1s ease;
  /* Dark */
  background-color: #141414;
  border: 1px solid #1e1d1d;
  transition: border 1s ease;
}

.circle-interno-servico {
  background-color: #ffffff;
  /* Dark */
  background-color: #0f0f0f;
}

.titleService {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.title-card-service {
  color: rgb(49, 49, 49);
  /* Dark */
  color: white;
}

.description-card-service {
  color: #1d1d1d;
  /* Dark */
  color: #9ca3af;
}

.groupContact {
  background-color: #ffffff;
  /* dark */
  background-color: #0b0b0b;
}

.titleContact {
  color: rgb(49, 49, 49);
  /* dark */
  color: white;
}

.form input {
  border: 1px solid rgb(219, 219, 219);
  background-color: #eeeeee;
  color: rgb(49, 49, 49);
  /* Dark */
  border: 1px solid #00ffff;
  background-color: #161616;
  color: white;
}

textarea {
  border: 1px solid rgb(219, 219, 219);
  background-color: #eeeeee;
  color: rgb(49, 49, 49);
  /* Dark */
  border: 1px solid #00ffff;
  background-color: #161616;
  color: white;
}

textarea:focus {
  box-shadow: 0px 0px 8px var(--color-terciary); 
}


.linhas {
  background-image: linear-gradient(to top, #ffffff 20%, #00ffff);
  /* Dark */
  background-image: linear-gradient(to top, #0b0b0b 20%, #00ffff);
}

.linha-secundary {
  background-image: linear-gradient(to top, #f7f7f7 20%, #00ffff);
  /* Dark */
  background-image: linear-gradient(to top, #0f0f0f 20%, #00ffff);
}

.linha {
  background-image: linear-gradient(to top, #ffffff 20%, #00ffff);
  /* Dark */
  background-image: linear-gradient(to top, #0b0b0b 20%, #00ffff);
}

.groupContact .linha-secundary {
  background-image: linear-gradient(to top, #ffffff 20%, #00ffff);
  /* Dark */
  background-image: linear-gradient(to top, #0f0f0f 20%, #00ffff);
}
